@import 'main.scss';
.wrap{
    width:100%;
    height:100%;
    #content{
        width:100%;
        height:100%;
        .lunbo{
            width:100%;
            .lunbotitle{
                width:90%;
                height:50px;
                margin:10px auto;
                p{
                    font-size:12px;
                    color:#666;
                }
                h2{
                    font-size:20px;
                }
            }
            .swiper-container{
                width:90%;
                height:300px;
                margin:0 auto;
                .swiper-wrapper{
                    width:100%;
                    height:100%;
                    img{
                        width:100%;
                        height:200px;
                        margin-bottom:10px;
                    }
                    p{
                        width:100%;
                        margin:5px auto;
                    }
                    .tag{
                        color:#f00;
                        font-size:12px;
                    }
                    .i-title{
                        font-size: 16px;
                        font-weight: 600;
                        color:#343434;
                    }
                    .i-desc{
                        font-size:12px;
                        color:#aaa;
                    }
                }
            }
        }

        .choselunbo{
            width:90%;
            margin:0 auto;
            overflow-x: auto;
            height:100px;
            padding:20px 0;
            border-top:0.5px solid #ccc;
            &::-webkit-scrollbar{
                display: none;
            }
            #swiper-container2{
                width:350px;
                height:100%;
                #swiper-slide1{
                    background:url('../img/01.png') no-repeat 0 0;
                    background-size:100%;
                }
                #swiper-slide2{
                    background:url('../img/02.png') no-repeat 0 0;
                    background-size:100%;
                }
                #swiper-slide3{
                    background:url('../img/03.png') no-repeat 0 0;
                    background-size:100%;
                }
                p{
                    color:#fff;
                    text-align: center;
                }
                .tabs-title{
                    font-size:16px;
                    font-weight: 600;
                    margin-top:30px;
                }
                .tabs-title3{
                    margin-top:40px;
                    font-weight: 600;
                }
            }
        }

        .moregoods{
            width:90%;
            margin:20px auto;
            padding-bottom:20px;
            .more1{
                width:100%;
                height:176px;
                overflow: hidden;
                margin:20px auto;
                .more-con{
                    width:100%;
                    height:30px;
                    padding-top:20px;
                    border-top:0.5px solid #ccc;
                     h3{
                        font-size:22px;
                        float:left;
                        line-height: 30px;
                    }
                    a{
                        float:right;
                        color:#f00;
                        line-height: 30px;
                    }
                    p{
                        padding-top:30px;
                        font-size:12px;
                        color:#aaa;
                    }
                }
                   
            }
                .imglist{
                    width:100%;
                    li{
                        width:33.3%;
                        height:90px;
                        float:left;
                        margin:20px 0;
                        img{
                            width:100%;
                            height:100%;
                        }
                    }
                }
        }
    }
}